.sidebar {
  position: sticky;
  top: 120px;
  background: #111;
  padding: 20px;
  border-radius: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 12px;
}

a {
  text-decoration: none;
  color: #aaa;
  padding: 8px 12px;
  display: block;
  border-radius: 8px;
  transition: 0.3s;
}

a:hover {
  background: rgba(255, 115, 0, 0.15);
  color: #ff7300;
}

.active {
  background: #ff7300;
  color: white !important;
}
