    .mycolor {
        color: #FBB522;
    }


    .heroSection {
    padding-block: 150px;
    position: relative;
    min-height: 100vh;
    background-color: #0A0A0A;
    overflow: hidden;
    color: white;
    background-size: 60px 60px;
    background-image:
        linear-gradient(to right, rgba(128,128,128,0.12) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(128,128,128,0.12) 1px, transparent 1px);
    }


    .heroContent {
    position: relative;
    z-index: 2;
    }

    .heroBadge {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid rgba(255,106,0,0.4);
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    color: #ff6a00;
    background-color: #2D1E13;
    }

    .heroTitle {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    }

    .heroTitle span {
    color: #ff6a00;
    }

    .heroSubtitle {
    margin-top: 20px;
    color: #ccc;
    font-size: 18px;
    }

   

    .heroStats {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    }

    .statBox {
    background: #25232182;
    padding: 15px 50px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.08);
    text-align: center;
    }

    .statBox span{
        color: #FF6900;
    }


    .statBox h4 {
    color: #FA961C;
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: bold;
    }

    .statBox p {
    color: #6a6a6a;
    font-size: 14px;
    }


    .heroBadge {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    border: 1px solid rgba(255,106,0,0.4);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    position: relative;
    }

    .dots {
    display: flex;
    gap: 8px;
    align-items: center;
    }

    .dotStatic {
    width: 10px;
    height: 10px;
    background: #ff6a00;
    border-radius: 50%;
    }

    .dotGlow {
    width: 10px;
    height: 10px;
    background: #ff6a00;
    border-radius: 50%;
    animation: pulseGlow 1.5s infinite;
    }

    @keyframes pulseGlow {
    0% {
        box-shadow: 0 0 0 0 rgba(255,106,0,0.7);
        transform: scale(1);
    }
    70% {
        box-shadow: 0 0 0 12px rgba(255,106,0,0);
        transform: scale(1.2);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255,106,0,0);
        transform: scale(1);
    }
    }


    /* --------------------------------------------------------------- */

    .valuesSection {
  padding: 120px 0;
  background: #111111;
  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.sectionHeader {
  text-align: center;
  margin-bottom: 70px;
}

.title {
  font-size: 42px;
  font-weight: 800;
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.title span {
  width: 6px;
  height: 35px;
  background: linear-gradient(180deg, #ff7a00, #ffb347);
  border-radius: 6px;
}

.subtitle {
  margin-top: 15px;
  color: #aaa;
  font-size: 18px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.08);
  padding: 40px 25px;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s ease;
}

.card i {
  font-size: 38px;
  color: #ff6a00;
  margin-bottom: 20px;
}

.card h4 {
  margin-bottom: 10px;
  font-weight: 700;
}

.card p {
  color: #aaa;
  font-size: 14px;
}

.card:hover {
  transform: translateY(-8px);
  border-color: #ff6a00;
  background-color: #2E1F13;
}



/* ------------------------------------------------ */


.teamSection {
  padding: 120px 0;
  background: #0A0A0A;
  color: white;
}

.sectionHeader {
  text-align: center;
  margin-bottom: 70px;
}

.badge {
  display: inline-block;
  padding: 6px 18px;
  border-radius: 20px;
  background: rgba(255,106,0,0.1);
  border: 1px solid rgba(255,106,0,0.4);
  color: #ff6a00;
  font-size: 14px;
  margin-bottom: 20px;
}

.sectionHeader h2 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 15px;
}

.sectionHeader p {
  color: #aaa;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.teamCard {
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 25px;
  padding: 40px 30px;
  text-align: center;
  transition: 0.3s ease;
}

.teamCard:hover {
  transform: translateY(-10px);
  border-color: #ff6a00;
  box-shadow: 0 15px 40px rgba(255,106,0,0.15);
}

.avatarWrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto 20px;
}

.avatarWrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,0.1);
  object-fit: cover;
}

.checkIcon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #ff6a00;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.role {
  display: block;
  color: #ff6a00;
  margin-bottom: 20px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.socials a {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background: rgba(255,255,255,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  color: #aaa;
}

.linkedin:hover {
  background: #0A66C2;
  color: white;
}

.github:hover {
  background: #333;
  color: white;
}

.twitter:hover {
  background: #000;
  color: white;
}


/* ------------------------------------------------ */

.ctaSection {
  padding: 120px 0;
  text-align: center;
  background: linear-gradient(145deg, #F95300, #F5A602);
  color: white;
}

.ctaSection h2 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 20px;
}

.ctaSection p {
  max-width: 650px;
  margin: 0 auto 40px;
  font-size: 18px;
  line-height: 1.8;
  color: rgba(255,255,255,0.9);
}

.ctaButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.outlineBtn {
  padding: 14px 30px;
  border-radius: 12px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.outlineBtn:hover {
  background: white;
  color: black;
}

.darkBtn {
  padding: 14px 30px;
  border-radius: 12px;
  background: black;
  color: white;
  text-decoration: none;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;
}

.darkBtn:hover {
  background: #111;
}


/* ------------------------------------------------ */


@media (max-width: 992px) {
    .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .teamGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 30px;
  }

  .teamGrid {
    grid-template-columns: 1fr;
  }

  .ctaSection h2 {
    font-size: 28px;
  }
}