.navbar {
  background: linear-gradient(to left, #111, #1a1a1a);
  padding: 15px 0;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}



.tagline {
  color: #824B0C;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}


.linksWrapper {
  background: #1e1e1e;
  padding: 8px 10px;
  border-radius: 30px;
  padding-left: 50px;
  border: 1px solid #2a2a2a;
}

.link {
  color: #ccc !important;
  transition: 0.3s;
}

.link:hover {
  color: white !important;
}

.active {
  background-image: linear-gradient(to left ,#F74E00,#FF6800 );
  color: white !important;
  padding: 5px 20px;
  border-radius: 20px;
}

.readBtn {
  background: #ff6a00;
  border: none;
  padding: 15px 25px;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.readBtn:hover {
  background: #e65c00;
  transform: translateY(-3px);
}

.searchIcon {
  color: #ccc;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.searchIcon:hover {
  color: white;
}

/* --------------------------------- */
.mobileMenu {
  background: #111;
  color: white;
  width: 85%;
}

.mobileLink {
  color: #ccc;
  text-decoration: none;
  font-size: 18px;
}

.mobileLink:hover {
  color: white;
}

.mobileActive {
  color: #ff6a00;
  border: 1px solid #824B0C;
  background-color: #2D1E13;
  padding: 12px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
}




