
    .logoWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
    }

    .logoBox {
    width: 45px;
    height: 45px;
    background-color: #FF6A00;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 20px;
    color: white;
    }

    .footerLogo {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    }

    .footer {
    background: #0A0A0A;
    color: white;
    padding: 80px 0 30px;
    border-top: 1px solid rgba(255,255,255,0.08);
    }

    .footerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 50px;
    }



    .footerCol h5 {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 12px; 
    }

    .footerCol h5::before {
    content: "";
    width: 35px;
    height: 3px;
    border-radius: 5px;
    background: linear-gradient(90deg, #ff7a00, #ffb347);
    }





    .footerCol ul {
    list-style: none;
    padding: 0;
    }

    .footerCol ul li {
    margin-bottom: 10px;
    color: #aaa;
    cursor: pointer;
    }

    .footerCol ul li:hover {
    color: #ff6a00;
    }

    .footerLogo {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 15px;
    }

    .socialIcons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    }

    .socialIcons i {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background: rgba(255,255,255,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    }

    .socialIcons i:hover {
    background: #ff6a00;
    }

    .footerInput {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.1);
    background: #111;
    color: white;
    margin: 10px 0;
    }

    .footerBtn {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: #ff6a00;
    color: white;
    }

    .footerBottom {
    border-top: 1px solid rgba(255,255,255,0.08);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #aaa;
    font-size: 14px;
    }


    @media (max-width: 992px) {
    .footerGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    }

    @media (max-width: 576px) {
    .footerGrid {
        grid-template-columns: 1fr;
    }
    }