
    .heroSection {
    padding-block: 150px;
    position: relative;
    height: 500px;
    background-color: #0A0A0A;
    overflow: hidden;
    color: white;
    background-size: 60px 60px;
    background-image:
        linear-gradient(to right, rgba(128,128,128,0.12) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(128,128,128,0.12) 1px, transparent 1px);
    }

    .heroSection::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -50px;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(255,106,0,0.35) 0%, transparent 70%);
    filter: blur(80px);
    }

    .heroSection::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -50px;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(255,106,0,0.25) 0%, transparent 70%);
    filter: blur(90px);
    }

    .heroContent {
    position: relative;
    z-index: 2;
    }

    .heroBadge {
    display: inline-block;
    padding: 8px 18px;
    border: 1px solid rgba(255,106,0,0.4);
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    color: #ff6a00;
    background-color: #2D1E13;
    }

    .heroTitle {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    }

    .heroTitle span {
    color: #ff6a00;
    }

    .heroSubtitle {
    margin-top: 20px;
    color: #ccc;
    font-size: 18px;
    }


    .heroBadge {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    border: 1px solid rgba(255,106,0,0.4);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    position: relative;
    }

    .dots {
    display: flex;
    gap: 8px;
    align-items: center;
    }

    .dotStatic {
    width: 10px;
    height: 10px;
    background: #ff6a00;
    border-radius: 50%;
    }

    .booklogo {
    color: #ff6a00;
    }

/* --------------------------------------- */

.blogSection {
  padding: 70px 0;
  background: #0A0A0A;
  color: white;
}

.filterTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.tabs {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.tabBtn {
  padding: 8px 18px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);
  background: rgba(255,255,255,0.03);
  color: #aaa;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.tabBtn:hover {
  border-color: #ff6a00;
  color: white;
}

.activeTab {
  padding: 8px 18px;
  border-radius: 10px;
  background: linear-gradient(145deg, #ff6a00, #ff5424);
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.searchBox {
  position: relative;
  width: 280px;
}

.searchBox input {
  width: 100%;
  padding: 10px 15px 10px 40px;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255,0.1);
  background: rgba(255,255,255,0.03);
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

.searchBox input:focus {
  outline: none;
  border-color: #ff6a00;
}

.searchBox i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 14px;
}

.resultsCount {
  margin-bottom: 25px;
  color: #aaa;
  font-size: 14px;
}

.resultsCount span {
  color: #ff6a00;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


.pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.pagination button:hover {
  border-color: #ff6a00;
}

.activePage {
  background: #ff6a00 !important;
  border-color: #ff6a00 !important;
}

/* ----------------------------------------------- */

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .searchBox {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .filterTop {
    flex-direction: column;
    align-items: flex-start;
  }
}